<% title @page.name %>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>
<p>
  <strong>Details:</strong>
  <%= @page.details %>
</p>

<%= render :partial => @page.layout %>

<% if user_signed_in? %>
<p>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
</p>
<% end %>