<% title "Detail" %>

<p>
  <strong>Name:</strong>
  <%= @detail.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @detail.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @detail.phone %>
</p>
<p>
  <strong>Query:</strong>
  <%= @detail.query %>
</p>
<p>
  <strong>Type:</strong>
  <%= @detail.type %>
</p>

<p>
  <%= link_to "Edit", edit_detail_path(@detail) %> |
  <%= link_to "Destroy", @detail, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", details_path %>
</p>
